@using Microsoft.AspNetCore.Identity;
@using OnlineSuperMarket.Models.ViewModel;
@using OnlineSuperMarket.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model CheckoutViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CartItem> carts = ViewBag.cart;
    var user = await UserManager.GetUserAsync(User);
    double total = 0;
}
<!-- Cart  -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="~/ClientAssets/index.html">Home</a></li>
        <li>/</li>
        <li><a href="~/ClientAssets/pages/cart.html">Your Cart</a></li>
    </ol>

@*    <div class="cartTitle">
        <h1>
            Your Cart <span>
                (@cart.Count())
            </span>
        </h1>
    </div>*@
    @*@if (cart.Count() > 0)
    {*@
        @*double total = 0;*@
        <div class="tableOrder cartContainer">
            <table>
                <thead class="tableOrder--header">
                    <tr>
                        <th class="cart--header--item cartItem" colspan="2">Item</th>
                        <th class="cart--header--item">Price</th>
                        <th class="cart--header--item">Quantity</th>
                        <th class="cart--header--item">Total</th>
                        <th class="cart--header--item"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in carts)
                    {
                        var thanhtien = item.quantity * item.product.unitCost;
                        total += thanhtien;

                        <tr class="cart--item">
                            <td class="cart--item--figure"><img src="~/ClientAssets/img/@item.productImage.productImage"></td>
                            <td class="cart--item--title">
                                <p class="cart--item--brand">@item.product.Brand.brandName</p>
                                <h2 class="cart--item--name">@item.product.productName</h2>
                                <p class="cart--item--color">Color: <span>@item.product.color</span></p>
                                <p class="cart--item--size">Size: <span>@item.product.size</span></p>
                            </td>
                            <td>@item.product.unitCost</td>
                            <td>

                                <p class="cart--item--quantity">@item.quantity</p>
                                
                            </td>
                            <td>@thanhtien</td>
                            
                        </tr>

                    }


                </tbody>
            </table>
        </div>
        <form class="shipping--form" asp-action="CreateOrder" asp-controller="Product" enctype="multipart/form-data" method="post">
        <div class="cartContainer paymentContainer">
            <div class="cartContainer--left">
                <div class="couponCode">
                    <div class="couponCode--title">
                        <h2>Coupon Code</h2>
                    </div>
                    <div class="lineSpace"></div>
                    <div class="couponCode--description">
                        <p>Enter your coupon code if you have one.</p>
                    </div>
                    <form class="couponCode--form">
                        <input class="couponCode--input" type="text" placeholder="Enter your coupon code">
                        <button class="couponCode--button">Apply</button>
                    </form>
                </div>
                <div class="giftCertificate">
                    <div class="giftCertificate--title">
                        <h2>
                            Gift Certificate
                        </h2>
                    </div>
                    <div class="lineSpace"></div>
                    <div class="giftCertificate--description">
                        <p>Enter your gift certificate if you have one.</p>
                    </div>
                    <form class="giftCertificate--form">
                        <input class="giftCertificate--input" type="text" placeholder="Add Certificate">
                        <button class="giftCertificate--button">Apply</button>
                    </form>
                </div>
            </div>
            <div class="cartContainer--center">
                <div class="shipping">
                    <div class="shipping--title">
                        <h2>
                            Shipping
                        </h2>
                    </div>
                    <div class="lineSpace"></div>
                    <div class="shipping--description">
                        <p>Enter your gift certificate if you have one.</p>
                    </div>
                    
                        <div class="shipping--country">
                            <label>Customer Name:</label>
                            <input class="shipping--input" type="text" asp-for="FullName" value="@user.FirstName @user.MiddleName @user.LastName">
                        </div>
                        <div class="shipping--state">
                            <label>Email</label>
                            <input class="shipping--input" type="email" asp-for="Email" value="@user.Email">
                        </div>
                        <div class="shipping--city">
                            <label>Phone</label>
                            <input class="shipping--input" type="text" asp-for="Phone" value="@user.PhoneNumber">
                        </div>
                        <div class="shipping--zip">
                            <label>Delivery Address</label>
                            <input class="shipping--input" type="text" asp-for="Address" value="@user.Address">
                        </div>
                        

                    
                </div>
            </div>
            <div class="cartContainer--right">
                <div class="order">
                    <div class="order--title">
                        <h2>
                            Order Summary
                        </h2>
                    </div>


                    <div class="line"></div>
                    <div class="order--grandTotal">
                        <p>Grand total:</p>
                        <p>@total</p>
                    </div>
                    <div class="order--form">
                            <button class="order--button" type="submit">Check Out</button>
                        <p>--or use--</p>
                        <button class="order--paypal">
                            <img src="~/ClientAssets/img/download.svg" width="20%">
                        </button>
                    </div>
                    <div class="order--secure">
                        <div class="order--secure--description">
                            <i class="fa-solid fa-user-shield order--secure--icon"></i>
                            <p>
                                Secure Shopping Guarantee.
                                Your information is secure.
                            </p>
                        </div>
                        <div class="order--secure--help">
                            <p>Need help? Contact us or Get in touch <strong>(+84) 987-729-543</strong></p>
                        </div>
                        <img src="~/ClientAssets/img/trust-image.jpg">
                    </div>
                </div>
            </div>
        </div>
            </form>
 @*   }
    else
    {
        <p class="alert alert-danger">Your shopping cart is empty!</p>
    }*@
    
    
</div>
<!-- End Cart  -->
