@using Microsoft.AspNetCore.Identity;
@using OnlineSuperMarket.Models.ViewModel;
@using OnlineSuperMarket.Models;
@model ProductViewModel;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var comments = ViewBag.comments;
    var commentscount = Enumerable.Count(ViewBag.comments);
}

<link href="~/ClientAssets/style/product-details.css" rel="stylesheet" />


<!-- mini cart sticky  -->

<div class="miniCart">
    <div class="miniCart--left">
        <img src="~/ClientAssets/img/@Model.productImage">
        <p>@Model.productName</p>
    </div>
    <div style="width: 36%;" class="miniCart--right">
        @if (Model.status != null)
        {
            double priceOnSale = Model.unitCost * 90 / 100;

            <p class="truePrice">$@priceOnSale</p>
        }
        <p class="nopePrice">$@Model.unitCost</p>
        <input type="number" value="1">
        <a id="add-to-cart-btn1" class="choose" asp-route="addcart" asp-route-productid="@Model.productId" asp-route-quantity="">
            Add to cart
        </a>
    </div>
</div>

<!-- End  -->


<div class="container">
    <ol class="breadcrumb">
        <li><a href="~/ClientAssets/index.html">Home</a></li>
        <li>/</li>
        <li><a href="~/ClientAssets/pages/cart.html">Your Cart</a></li>
    </ol>
    <div class="card">
        <div class="card-body productDetails">
            <div class="leftProductDetails">
                <div class="leftProductDetails--imageProduct">
                    <div class="leftProductDetails--imageProduct--mainImage">
                        <img src="~/ClientAssets/img/@Model.productImage">
                    </div>
                    @*<div class="leftProductDetails--imageProduct--desImage">
                    <img src="~/ClientAssets/img/product-4-1__64128(1).jpg">
                    <img src="~/ClientAssets/img/product-4-4__71826.jpg">
                    <img src="~/ClientAssets/img/product-4-5__83815.jpg">
                    <img src="~/ClientAssets/img/product-4-2__75853.webp">
                    </div>*@
                </div>
            </div>
            <div class="rightProductDetails">
                <div class="rightProductDetails--heading">
                    <div class="rightProductDetails--heading-title">
                        <p class="rightProductDetails--heading-title--brand">@Model.brandName</p>
                        <h3>@Model.productName</h3>
                        <p class="sold-product">10 sold in last 24 hours</p>
                    </div>
                    <div class="rightProductDetails--information">
                        <div class="rightProductDetails--information--type">
                            <p>Category: </p>
                            <p>Sale: </p>
                            <p>Shipping: </p>
                        </div>
                        <div class="rightProductDetails--information--content">
                            <p>@Model.categoryName</p>
                            @if (Model.status != null)
                            {
                                <p>@Model.status</p>
                            }
                            else
                            {
                                <p>No discount applied</p>
                            }
                            <p>Calculated At Checkout</p>
                        </div>
                    </div>
                    <div class="rightProductDetails--price">
                        @if (Model.status != null)
                        {
                            double priceOnSale = Model.unitCost * 90 / 100;

                            <p class="truePrice">$@priceOnSale</p>
                        }

                        <p class="nopePrice">$@Model.unitCost</p>
                    </div>
                    <div class="rightProductDetails-description">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum
                            deleniti atque corrupti quos dolores et quas molestia…
                        </p>
                    </div>
                    <p>Color: @Model.color</p>

                    <p>Size: @Model.size </p>
                    <p>Quantity: @Model.quantity</p>
                    <div class="addToCart">

                        <input id="addProductQty" name="quantity" type="number" min="1" max="@Model.quantity" value="1">
                        <a id="add-to-cart-btn2" class="choose" asp-route="addcart" asp-route-productid="@Model.productId" asp-route-quantity="">
                            Add to cart
                        </a>


                    </div>

                </div>
                <img style="margin-top: 32px;" src="~/ClientAssets/img/trust-image.jpg">
            </div>
        </div>
    </div>
</div>


<div style="height: 2px;" class="lineEnd"></div>
<div class="productComment">
    <div class="productComment--heading">
        <h2>Customer Reviews</h2>
        <p>@commentscount reviews</p>
        <a><button>Write a Review</button></a>
    </div>



    <!-- Product Comment Form  -->
    <div class="productCommentForm">
        <div class="productCommentForm--heading">
            <div class="space"> </div>
            <h2>Write a review</h2>
            <p class="productCommentForm--heading--close">X</p>
        </div>
        <div class="productCommentForm--body">
            <div class="productCommentForm--body--left">
                <img src="~/ClientAssets/img/@Model.productImage">
                <p class="productCommentForm--body--left--productBrand">@Model.brandName</p>
                <p class="productCommentForm--body--left--productName">@Model.productName</p>
            </div>
            <div class="productCommentForm--body--right">

                <form id="productCommentForm" method="post">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = await UserManager.GetUserAsync(User);

                        <input id="userId" type="hidden" value="@user.Id" />
                        <input id="productId" type="hidden" value="@Model.productId" />
                        <label for="rating">Rating</label>
                        <select id="rating" name="rating">
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                        <label>Name</label>
                        <input type="text" value="@user.UserName" disabled>
                        <label for="title">Title</label>
                        <input id="title" type="text" name="title">
                        <label for="comment">Comments</label>
                        <textarea id="comment" name="comment"></textarea>
                        <button type="submit">Submit</button>
                    }

                </form>
            </div>
        </div>
    </div>
    <!-- End  -->
    @foreach (var item in ViewBag.comments)
    {
        <div class="productComment--contain">

            <div class="productComment--comment">
                <div class="productComment--comment--avatar">
                    <img src="~/ClientAssets/img/@item.User.Avatar">
                </div>
                <div class="name--rate">
                    <div class="name--rate--heading">
                        <p class="name--rate--heading--userName">@item.User.UserName</p>
                        <div class="star">
                            @for (int i = 0; i < item.rating; i++)
                            {
                                <p><i class="fa-solid fa-star"></i></p>
                            }

                            @*<p><i class="fa-solid fa-star"></i></p>
                        <p><i class="fa-solid fa-star"></i></p>*@
                        </div>
                    </div>
                    <p class="name--rate--title"><span>Title: </span>@item.title</p>
                    <p class="name--rate--content">@item.message</p>
                </div>
            </div>

        </div>
    }

</div>
<div style="height: 2px;" class="lineEnd"></div>

<div class="productDetails--productItem">
    <div class="productDetails--productItem--heading">
        <h2>Frequently Bought Together</h2>
        <p>Please choose options for all selected products</p>
    </div>
    <div class="swiper1 mySwiper1">
        <div class="swiper-wrapper">
            @foreach (ProductViewModel item in ViewBag.productOnSaleSlides)
            {
                if (item != null)
                {

                    <div class="swiper-slide">
                        <div class="card">
                            <div class="cardTop">
                                @if (item.status != null)
                                {
                                    <div class="tag">Sale</div>
                                }
                                <img class="img1" src="~/ClientAssets/img/@item.productImage">
                                <!-- <img class="imgHover" src="./img/product-4-1__64128.jpg"> -->
                            </div>
                            <div class="cardBody">
                                <p class="subtitle">@item.brandName</p>
                                <p class="productName">@item.productName</p>
                                <p class="price">$@item.unitCost</p>
                            </div>
                            <div class="cardBottom">
                                <a asp-action="Details" asp-controller="Product" asp-route-id="@item.productId"><button class="choose">Choose Options</button></a>
                                <div class="heart"><i class="fa-thin fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>
<div class="lineEnd"></div>

<script>
    $(document).ready(function () {
        $("#add-to-cart-btn1").click(function () {
            var quantity = $("#addProductQty").val();
            var url = '@Url.RouteUrl("addcart", new { productid = Model.productId, quantity = "__QUANTITY__" })';
            url = url.replace('__QUANTITY__', quantity);
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {

                },
                error: function (xhr, status, error) {

                }
            });
        });
    });


    $(document).ready(function () {
        $("#add-to-cart-btn2").click(function () {
            var quantity = $("#addProductQty").val();
            var url = '@Url.RouteUrl("addcart", new { productid = Model.productId, quantity = "__QUANTITY__" })';
            url = url.replace('__QUANTITY__', quantity);
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {

                },
                error: function (xhr, status, error) {

                }
            });
        });
    });

    $('#productCommentForm').submit(function (e) {
        e.preventDefault(); // ngăn chặn sự kiện mặc định của form
        // Code xử lý AJAX sẽ được thêm vào đây
        var formData = {
            userId: $('#userId').val(),
            productId: $('#productId').val(),
            rating: $('#rating').val(),
            title: $('#title').val(),
            message: $('#comment').val()
        };

        console.log(formData);
        $.ajax({
            url: '/Product/AddComment',
            type: 'POST',
            data: formData,
            success: function (result) {
                // Code xử lý khi gửi comment thành công sẽ được thêm vào đây
                window.location.reload();
            }
        });
    });

</script>
<script src="~/ClientAssets/js/product-details.js"></script>